.bgimg01 {  background-attachment: scroll; background-image: url(images/mainbg05.jpg); background-repeat: no-repeat; background-position: left top}
.bgimg02 {  background-attachment: scroll; background-image: url(images/bgfil01.jpg); background-repeat: repeat-x; background-position: left top}
